/*header content*/
.bg-light{
  background-color: #ededed!important;
}

.btn-outline-secondary {
  background-color: #fff;
  padding: .5rem 1rem;
  font-size: 1.5rem;
  border-radius: 50%;
  border-color: #fff;
}

.search-bar .form-size {
  width: auto;
}

.input-group {
  width: 30rem;
  border-radius: 10px;
  border: 2px solid #ccc;
  text-align: center;
  margin-left: 12rem;
}

.input-group .form-control {
  background-color: #ededed!important;
  border: 0px;
  border-radius: 10px;
  color: #ffffff; /* 追加 */
}

.input-group .btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #6c757d;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 0px;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  z-index: 0;
}

.input-group .form-control:focus {
  background-color: #fff;
  outline: none;
}

body:not(.focus-within) .input-group .form-control {
  background-color: #ededed!important;
}

.profile-image-icon-lg {
  width: 50px;  /* アイコンの幅を調整 */
  height: 50px;  /* アイコンの高さを調整 */
  border-radius: 50%;  /* 画像を円形にする */
  object-fit: cover;  /* 画像のアスペクト比を保つ */
}

/*project list content*/
.project-list {
  max-width: 65rem;
  padding: 20px;
}

.project-list .card {
  width: calc(30% - 30px);
  height: auto;
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  margin-bottom: 60px;
  background-color: #ededed;;
  position: relative;
  cursor: pointer;
  border: none;
}

.project-list a {
  text-decoration: none;
  color: inherit;
}

.card-title {
  font-size: 1rem;
  margin: 0.5rem;
}

.beaker{
  position: relative;
  border-top: none;
  border-bottom: 8px solid #808080;
  border-right: 6px solid #808080;
  border-left: 6px solid #808080;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
  transition: transform 0.5s ease-in-out; /* 揺れる動きの時間を設定 */
}

@keyframes shake {
  0% { transform: translateX(0px); }
  25% { transform: translateX(-3px); }
  50% { transform: translateX(3px); }
  75% { transform: translateX(-3px); }
  100% { transform: translateX(0px); }
}

.beaker:hover {
  animation: shake 0.4s; /* shakeアニメーションを適用 */
}

.card .card-body {
  position: relative;
  z-index: 2;
  height: 300px;
}

.card-body .card-icon{
  font-size: 2rem;
}

.card-body .card-text{
  font-size: 1rem;
  margin-bottom: 0;
}

.card-text p {
  font-size: 16px;

}

.card-body .project-deadline{
  border: 2px solid #dee2e6;
  border-radius: 10px;
  overflow: hidden;
  padding: 0.2rem 1.5rem;
}

.card-body .project-deadline .bg-primary{
  font-size: 1rem;
  margin: 0;
  border-radius: 5px;
}

.progress-text{
 font-size: 2.8rem;
 margin-bottom: 0;
}

.liquid-canvas {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  
}
.profile-image-icon {
  width: 30px;  /* アイコンの幅を調整 */
  height: 30px;  /* アイコンの高さを調整 */
  border-radius: 50%;  /* 画像を円形にする */
  object-fit: cover;  /* 画像のアスペクト比を保つ */
}




/*クリエイトタイル*/
.create-project-tile {
  width: calc(33% - 20px);
  height: 250px;
  display: inline-block;
  vertical-align: top;
  border-radius: 15px;
  padding: 20px;
  margin-right: 30px;
  margin-bottom: 60px;
  position: relative;
  cursor: pointer;
  border: 2px dashed #ccc;
  background-color: #fff;
  color: #ccc;
  transition: background-color 0.3s, color 0.3s;
  overflow: visible;
}

.create-project-tile:hover {
  background-color: #f2f2f2;
  color: #333;
}

.create-project-tile a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.create-project-info h3{
  font-size: 16px;
  margin-bottom: 5px;
}

.create-icon {
  font-size: 30px;
  bottom: 10px;
  right: 10px;
}

.project-actions {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: right;
}

.favorite-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.fas.fa-star {
  color: yellow;
  stroke: #333;
  stroke-width: 1px;
}


/*footer content*/
.footer-content{
  border-top:solid 2px rgb(155, 155, 155);
}

.project-list-footer{
  background-color: #ededed;
}
.sort-options {
  margin-bottom: 10px;
}

.sort-options label {
  font-weight: bold;
  color: #333;
  margin:auto
}

.sort-options select {
  padding: 6px;
  border-radius: 10px;
}


/* スマホ対応レスポンシブデザイン */
@media (max-width: 600px) {
  /* スマートフォン向けスタイルをここに追加 */
  .input-group {
    width: 90%; /* 余白を考慮し、幅を90%にします */
    margin: 0 auto; /* センタリングのためのマージン */
  }

  .btn-outline-secondary {
    font-size: 1rem; /* ボタンのサイズを小さくします */
  }

  .project-list {
    padding: 10px;
  }

  .project-list .card {
    width: calc(100% - 20px);
    margin-right: 10px;
    margin-bottom: 30px;
  }

  .input-group {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .create-project-tile {
    width: calc(100% - 20px);
  }
}
