{% extends "base.html" %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
{% load static %}
<script src="{% static '/js/Blob-by-Jeffrey.js' %}"></script>
<div class="container">
    <h1 class="text-center mt-3">{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <div class="container py-3 mt-1">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <form method="POST" action="{% url 'account_reset_password' %}" class="mt-4">
                            {% csrf_token %}

                            <p class="mb-3">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                            <div class="mb-3">
                                <label for="id_email" class="form-label">{% trans "Email address" %}</label>
                                <input type="email" class="form-control" id="id_email" name="{{ form.email.name }}">
                            </div>
                            <input class="btn btn-success w-100 my-3" type="submit" value="{% trans 'Reset My Password' %}" />
                            <p>
                                パスワード設定のトラブルは<a href="#contact">こちら</a>までお問い合わせください
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
