{% extends "base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% block title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}
<div class="container">
  <h1 class="text-center mt-3">Sign up for ProjectManagement</h1>

  <div class="container py-3 mt-1">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <form class="mt-4" method="POST" action="{% url 'account_signup' %}">
              {% csrf_token %}
              <div class="mb-3">
                <label for="id_email" class="form-label">{% trans "Email address" %}</label>
                <input type="email" class="form-control" id="id_email" name="{{ form.email.name }}">
                <div id="emailHelp" class="form-text">{% trans "We'll never share your email with anyone else." %}</div>
              </div>
              <div class="mb-3">
                <label for="id_password1" class="form-label">{% trans "Password" %}</label>
                <input type="password" class="form-control" id="id_password1" name="{{ form.password1.name }}">
              </div>
              <div class="mb-3">
                <label for="id_password2" class="form-label">{% trans "Confirm Password" %}</label>
                <input type="password" class="form-control" id="id_password2" name="{{ form.password2.name }}">
              </div>
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <button class="btn btn-success w-100 my-3" type="submit">{% trans "Sign Up" %}</button>      
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container py-3 mt-1 ">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
              <p class="fs-4 text-center mt-3">
                Already have an account?
                <a class="" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
              </p>
            </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
