{% extends "base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% block title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}

<div class="container">
    
  <h1 class="text-center mt-3">Sign up for ProjectManagement</h1>
  <div class="py-3 mt-1">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form class="mt-4" method="POST" action="{% url 'account_signup' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_username" class="form-label">{% trans "Username" %}</label>
                            <input type="text" class="form-control" id="id_username" name="{{ form.username.name }}">
                        </div>
                        <div class="mb-3">
                            <label for="id_email" class="form-label">{% trans "Email address" %}</label>
                            <input type="email" class="form-control" id="id_email" name="{{ form.email.name }}">
                        </div>
                        <div class="mb-3">
                            <label for="id_first_name" class="form-label">{% trans "First Name" %}</label>
                            <input type="text" class="form-control" id="id_first_name" name="{{ form.first_name.name }}">
                        </div>
                        <div class="mb-3">
                            <label for="id_last_name" class="form-label">{% trans "Last Name" %}</label>
                            <input type="text" class="form-control" id="id_last_name" name="{{ form.last_name.name }}">
                        </div>
                        <div class="mb-3">
                            <label for="id_country" class="form-label">{% trans "Country" %}</label>
                            <input type="text" class="form-control" id="id_country" name="{{ form.country.name }}">
                        </div>
                        <div class="mb-3">
                            <label for="id_password1" class="form-label">{% trans "Password" %}</label>
                            <input type="password" class="form-control" id="id_password1" name="{{ form.password1.name }}">
                        </div>
                        <div class="mb-3">
                            <label for="id_password2" class="form-label">{% trans "Confirm Password" %}</label>
                            <input type="password" class="form-control" id="id_password2" name="{{ form.password2.name }}">
                        </div>
                        <button class="btn btn-success w-100 my-3" type="submit">{% trans "Sign Up" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container py-3 mt-1">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <p class="fs-4 text-center mt-3">
                        Already have an account?
                        <a href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


{% load static %}
<script src="{% static '/js/Blob-by-Jeffrey.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>

  {% endblock %}