<nav class="navbar navbar-expand-lg navbar-light bg-light px-5 py-3">
        <div class="container-fluid">
            <div class="d-flex justify-content-between w-100 align-items-center">
                <a class="btn btn-outline-secondary btn-lg mx-3" href="{% url 'project_list' %}" role="button" >
                    <i class="fa-brands fa-react"></i>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <div class="search-bar mx-auto d-flex justify-content-center align-items-center">
                            <form class="form-size" method="GET" action="#">
                                <div class="input-group">
                                    <input class="form-control" type="text"  name="search" value="">
                                    <span class="input-group-btn">
                                    <button type="submit" class="btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                                    </span>
                                </div>
                            </form>  
                        </div>
                    </div>

                    <div class="d-flex align-items-center mx-3">
                        <button type="button" class="join-project-button btn btn-outline-secondary btn-lg mx-3"><i class="fa-solid fa-arrows-down-to-people"></i></button> 
                        <a href="#" class="btn btn-outline-secondary btn-lg mx-3">
                            <i class="fa-regular fa-envelope"></i>
                        </a>
                        <div class="nav-item dropdown">
                            <a class="btn" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <img class="profile-image-icon-lg" src="{{ request.user.profile_image.url }}" alt="{{ request.user.username }}'s profile picture">
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'account_setting' %}">accounts setting</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">{{ request.user.email }} </a></li>
                                <li><a class="dropdown-item" href="/accounts/logout/">Log out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
  