<!-- Navbarの開始 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light px-5 py-3">
    <div class="container-fluid">
        <!-- Container for the navbar -->
        <div class="d-flex justify-content-between w-100 align-items-center">
            <!-- プロジェクトリストへのリンク -->
            <a class="btn btn-outline-secondary btn-lg mx-3" href="{% url 'project_list' %}" role="button" >
                <i class="fa-brands fa-react"></i> <!-- Reactのアイコン -->
            </a>
            <!-- ナビゲーションバーの切り替えボタン -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <!-- ナビゲーションバーのメイン部分 -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Search bar -->
                <div class="search-bar mx-auto d-flex justify-content-center align-items-center">
                        <form class="form-size" method="GET" action="#">
                            <!-- Input group for the search function -->
                            <div class="input-group">
                                <!-- Search input field -->
                                <input class="form-control" type="text"  name="search" value="">
                                <!-- Search button -->
                                <span class="input-group-btn">
                                <button type="submit" class="btn"><i class="fa-solid fa-magnifying-glass"></i></button> <!-- 検索アイコンのボタン -->
                                </span>
                            </div>
                        </form>  
                    </div>
                </div>
                <!-- ユーザー関連のアイコン群 -->
                <div class="d-flex align-items-center mx-3 " id="navbarSupportedContent">
                    <!-- Join project button -->
                    <button type="button" class="join-project-button btn btn-outline-secondary btn-lg mx-3"><i class="fa-solid fa-arrows-down-to-people"></i></button> <!-- プロジェクトに参加するアイコンのボタン -->
                    <!-- Email button -->
                    <a href="{% url 'notification_list' %}" class="btn btn-outline-secondary btn-lg mx-3">
                        <i class="fa-regular fa-envelope"></i> <!-- メールアイコン -->
                    </a>
                    <!-- User account dropdown -->
                    <div class="nav-item dropdown">
                        <!-- Dropdown toggle button -->
                        <a class="btn " href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            <!-- User profile picture -->
                            <img class="profile-image-icon-lg" src="{{ request.user.profile_image.url }}" alt="{{ request.user.username }}'s profile picture">
                        </a>
                        <!-- Dropdown menu items -->
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <!-- Account settings link -->
                            <li><a class="dropdown-item" href="{% url 'account_setting' %}">accounts setting</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <!-- Logout link -->
                            <li><a class="dropdown-item" href="/accounts/logout/">Log out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- Navbarの終了 -->
