{% extends 'project_list_base.html' %}
{% block title %}Project List{% endblock %}
{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/projectManagement/project/project_list.css' %}">
{% endblock %}

{% block content %}
<!-- Project list container -->
<div class="container-lg my-5 project-list">
  <!-- Project creation tile -->
  <div class="project-tile create-project-tile">
    <a href="{% url 'project_create' %}">
      <div class="create-project-info">
        <h3>Create New Project</h3>
        <p>Create your awesome new project now!</p>
      </div>
      <div class="create-icon">
        <i class="fas fa-plus-circle"></i>
      </div>
    </a>
  </div>

  <!-- Loop through all projects -->
  {% for project in projects %}
  <div class="card">
    <h3 class="card-title text-center">{{ project.project.project_name }}</h3>
    <a href="{% url 'phase_list' project.project.id %}">
    <div class="beaker text-center">
      <div class="card-body">
        <!-- Project details table -->
        <table class="table">
          <tbody>
            <tr>
              <td>
                <img class="profile-image-icon" src="{{ project.responsible.profile_image.url }}" alt="{{ project.responsible.username }}'s profile picture">
              </td>
              <td class="card-text fw-bold">{{ project.responsible.username }}</td>
            </tr>
            <tr>
              <td><i class="card-icon fa-regular fa-user"></i></td>
              <td class="card-text fw-bold">{{ project.project_kind }}</td>
            </tr>
          </tbody>
        </table>
        <!-- Project deadline -->
        <div class="project-deadline">
          <p class="text-white bg-primary text-center fw-bold">{{ project.project.dead_line|date:"Y/m/d" }}</p>
        </div>
        <!-- Project progress -->
        <div class="project-progress mt-5">
          <p class="progress-text fw-bold"> {{ project.progress }}%</p>
        </div>
      </div>
      <!-- Project progress visualization -->
      <canvas id="canvas{{ forloop.counter }}" class="liquid-canvas" data-progress="{{ project.progress }}" data-color="{{ project.project_color }}"></canvas>
    </div>
    </a>
    <!-- Favorite icon -->
    <div class="favorite-icon">
      {% if project.is_favorite %}
      <i class="fas fa-star " onclick="toggleFavorite('{{ project.project.id }}')"></i>
      {% else %}
      <i class="far fa-star" onclick="toggleFavorite('{{ project.project.id }}')"></i>
      {% endif %}
    </div>
  </div>
 {% endfor %}
 
</div>
<!-- Project search modal -->
<div class="modal fade" id="projectSearchModal" tabindex="-1" aria-labelledby="projectSearchModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="projectSearchModalLabel">search project</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="GET" action="{% url 'project_search' %}">
          <input type="text" class="form-control" placeholder="fill joinID" name="joined_id" required>
          <button type="submit" class="btn btn-success my-3 search-project-button">search</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/project_list.js' %}"></script>
<script src="{% static 'js/liquid-anim.js' %}"></script>
{% endblock %}
