.container {
  margin-bottom: 5rem;
}

.main {
  padding: 5rem;
}

/*クリエイトフェーズ*/
.create-phase-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #007bff;
}

.create-phase-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.create-phase-tile h4 {
  font-size: 16px;
  margin-top: 5px;
}

.create-icon {
  font-size: 24px;
  margin-bottom: 5px;
}


.phase-tile {
  margin-top: 1rem;
  padding: 1rem;
}

.phase-name {
  font-size: 1.6rem;
}

.unit-list {
  margin-top: 20px;
}

.phase-tile {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  background-color: #f8f8f8;
  border-radius: 4px;
}

.phase-info-list{
  display: flex;
}

.phase-info-card{
  flex-basis: calc(30% - 1rem);
  margin: 0.5rem;
}

.unit-list {
  display: flex;
  flex-wrap: wrap;
}

.unit-card .card {
  width: calc(50% - 30px);
  height: 80%;
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  margin-bottom: 60px;
  background-color: #ededed;;
  position: relative;
  cursor: pointer;
  border: none;
}

.card-body h5 {
  font-size: 1.3rem;
  margin: 0.5rem;
}

.unit-card{
  position: relative;
  border-top: none;
  border-bottom: 2px solid;
  border-right: 2px solid;
  border-left: 2px solid;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

.unit-card:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}

