.project-join {
    color: black;
    background-color: white;
  }
  
  .project-join .form-group {
    margin-bottom: 20px;
  }
  
  .project-join #search-results div {
    border: 1px solid gray;
    padding: 20px;
    margin-top: 20px;
  }
  
  .project-join #search-results div button {
    color: white;
    background-color: blue;
    border: none;
    padding: 10px;
  }
  
  .project-join #search-results div button:hover {
    background-color: red;
  }
  