.project-list {
  max-width: 60rem;
  padding: 20px;
}

/*header content*/
.fa-user {
  color: #fe0016;
}
.fa-envelope {
  color: #dba102;
}

.btn-outline-secondary {
  background-color: #fff;
  padding: .5rem 1rem;
  font-size: 1.5rem;
  border-radius: 50%;
  border-color: #fff;
}
.search-bar input[type="text"] {
  width: 30rem;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.search-bar .form-size{
  width:auto;
}

/*project list content*/
.project-tile {
  width: calc(33% - 20px);
  height: auto;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.project-tile:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.project-tile a {
  text-decoration: none;
  color: inherit;
}

.project-info {
  position: absolute;
  z-index: 1;
}

.project-info h3 {
  font-size: 16px;
  margin: 1rem;
}

.project-info p {
  font-size: 16px;
  margin: 1rem;
}

.create-project-tile {
  width: calc(33% - 20px);
  height: 250px;
  display: inline-block;
  vertical-align: top;
  border-radius: 15px;
  padding: 20px;
  position: relative;
  cursor: pointer;
  border: 2px dashed #ccc;
  background-color: #fff;
  color: #ccc;
  transition: background-color 0.3s, color 0.3s;
  overflow: visible;
}

.create-project-tile:hover {
  background-color: #f2f2f2;
  color: #333;
}

.create-project-tile a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.create-project-info h3{
  font-size: 16px;
  margin-bottom: 5px;
}

.create-icon {
  font-size: 30px;
  bottom: 10px;
  right: 10px;
}

.project-actions {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: right;
}

.favorite-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.fas.fa-star {
  color: yellow;
  stroke: #333;
  stroke-width: 1px;
}


.liquid-container {
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
}



.bg-light{
  background-color: #ededed!important;
}


/*footer content*/
.footer-content{
  border-top:solid 2px rgb(155, 155, 155);
}

.sort-options {
  margin-bottom: 10px;
}

.sort-options label {
  font-weight: bold;
  color: #333;
  margin:auto
}

.sort-options select {
  padding: 6px;
  border-radius: 10px;
}
