/* unit_list.css */
.phase-detail {
  padding: 20px;
} 
 
.phase-title {
  font-size: 32px;
}

.edit-button,
.edit-unit-button,
.add-task-button,
.add-unit-button {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #f8f8f8;
  color: #333;
  text-decoration: none;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.btn-back {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #6c757d;
  color: #f8f9fa;
  text-decoration: none;
  border: none;
  border-radius: 4px;
}

.btn-back:hover {
  background-color: #5a6268;
}

.unit-list {
  margin-top: 20px;
}

.unit-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
}

.add-unit-button {
  display: inline-block;
  padding: 6px 12px;
  background-color: #007bff;
  color: #f8f9fa;
  text-decoration: none;
  border: none;
  border-radius: 4px;
}

.add-unit-button:hover {
  background-color: #0069d9;
}

.unit-tile {
  margin-top: 16px;
  padding: 16px;
  background-color: #f8f8f8;
  border-radius: 4px;
}

.unit-name {
  display: inline-block;
  font-size: 20px;
}

.task-table {
  margin-top: 16px;
  width: 100%;
  border-collapse: collapse;
}

.task-table th,
.task-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.add-task-button {
  display: inline-block;
  margin-top: 10px;
  padding: 6px 12px;
  background-color: #17a2b8;
  color: #f8f9fa;
  text-decoration: none;
  border: none;
  border-radius: 4px;
}

.add-task-button:hover {
  background-color: #138496;
}

button.uncompleted {
  background-color: #f44336; /* 赤色 */
  color: white; /* テキストの色 */
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button.completed {
  background-color: #4CAF50; /* 緑色 */
  color: white; /* テキストの色 */
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
