{% extends 'base.html' %}

{% block title %}ログイン画面{% endblock %}

{% block styles %}
  <style>
    /* カスタムのスタイルを追加する場合はここに記述 */
    .card-body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h1 class="text-center">ログイン</h1>
          </div>
          <div class="card-body">
            <form method="post" class="form-group">
              {% csrf_token %}
              {% for field in form %}
                <div class="mb-3">
                  <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                  {% if field.field.required %}
                    <p class="text-danger">このフィールドは必須です</p>
                  {% endif %}
                  <div class="d-flex justify-content-center">
                    {{ field }}
                  </div>
                </div>
              {% endfor %}
              <div class="text-center">
                <button type="submit" class="btn btn-primary">ログインする</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
