<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <div>
        <a class="navbar-brand" href="#">
            <i class="bi bi-bootstrap-fill" style="font-size: 2rem;"></i>
        </a>
      </div>
      <div class="text-light nav-item dropdown">
        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              ユーザー名
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="#">アカウント設定</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="/accounts/logout/">ログアウト</a></li>
        </ul>
      </div>
    </div>
  </nav>