{% extends 'phase_base.html' %}
{% block title %}{{ project.project_name }} - Project Details{% endblock %}
{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/phase_list.css' %}">
{% endblock %}

{% block content %}
<div class="container mb-5">
  <div class="main p-5">
    
  {% if phases %}
  <div class="current-phase">
    <h2>working phase</h2>
    {% for phase in current_phases %}
    <div class="phase-tile card my-3 p-3">
      <a href="{% url 'unit_list' project.id phase.id %}">
        <div class="d-flex justify-content-start">
          <h3 class="phase-name">{{ phase.phase_name }}</h3>
          {% if is_manager %}
          <a href="{% url 'phase_edit' project_id=project.id phase_id=phase.id %}"
            class="btn btn-secondary edit-phase-button">Edit Unit</a>
          {% endif %}
        </div>

        <div class="phase-info-list my-2">
          <div class="phase-info-card card my-1 p-2 ">
            <a href="{% url 'unit_list' project.id phase.id %}">
              <div class="card-body phase-info">
                <p>Planned Start Date: {{ phase.start_day|date:"Y/m/d" }}</p>
                <p>Deadline: {{ phase.dead_line|date:"Y/m/d" }}</p>
                <p>Responsible: {{ phase.responsible }}</p>
              </div>
            </a>
          </div>
          <div class="unit-list">
            {% for unit in phase.units.all %}
            <div class="card unit-card mb-3">
              <div class="card-body unit-info">
                <h5>{{ unit.unit_name }}</h5>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
    </div>
    {% endfor %}
  </div>



    <div class="phase-timeline">
      <h2>Time line</h2>
      {% if is_manager %}
      <div class="create-phase-tile card  text-center">
        <a href="{% url 'phase_create' project.id %}">
          <div class="card-body">
            <h4> Create New Phase</h4>
            <i class="fas fa-plus-circle create-icon"></i>
          </div>
        </a>
      </div>
      {% endif %}
      {% for phase in phases %}
      <div class="phase-tile card my-3 p-3">
        <a href="{% url 'unit_list' project.id phase.id %}">
          <div class="d-flex justify-content-start">
            <h3 class="phase-name">{{ phase.phase_name }}</h3>
            {% if is_manager %}
            <a href="{% url 'phase_edit' project_id=project.id phase_id=phase.id %}"
              class="btn btn-secondary edit-phase-button">Edit Unit</a>
            {% endif %}
            <a href="{% url 'unit_list' project.id phase.id %}">
              <div class="card-body phase-info">
                <p>Planned Start Date: {{ phase.start_day|date:"Y/m/d" }}</p>
                <p>Deadline: {{ phase.dead_line|date:"Y/m/d" }}</p>
                <p>Responsible: {{ phase.responsible }}</p>
              </div>
            </a>
          </div>
      </div>
      {% endfor %}
    </div>
    
    {% else %}

    <p>No phases available.</p>
    {% if is_manager %}
      <div class="create-phase-tile card  text-center">
        <a href="{% url 'phase_create' project.id %}">
          <div class="card-body">
            <h4> Create New Phase</h4>
            <i class="fas fa-plus-circle create-icon"></i>
          </div>
        </a>
      </div>
      {% endif %}
    {% endif %}
  </div>
</div>

{% endblock %}