{% extends 'phase_base.html' %}
{% block title %}{{ project.project_name }} - プロジェクト詳細{% endblock %}
{% block styles %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/phase_list.css' %}">
{% endblock %}


{% block content %}
<div class="container mb-5">
  <div class="main p-5">
    
    {% if is_manager %}
    <div class="card create-phase-tile text-center"> 
      <a href="{% url 'phase_create' project.id %}">
        <div class="card-body">
          <h4> 新規フェーズ作成</h4>
          <i class="fas fa-plus-circle create-icon"></i>
        </div>
      </a>
    </div>
    {% endif %}

    <div class="phase-list">
      <h3>フェーズ一覧</h3>    
      {% if phases %}
        {% for phase in phases %}
        <div class="card phase-tile mb-3">
          <a href="{% url 'unit_list' project.id phase.id %}">
            <div class="card-body phase-info">
              <h4>{{ phase.phase_name }}</h4>
              <p>開始予定日: {{ phase.start_day|date:"Y/m/d"  }}</p>
              <p>期限: {{ phase.dead_line|date:"Y/m/d" }}</p>
              <p>責任者: {{ phase.responsible }}</p>
            </div>
          </a>
        </div>
        {% endfor %}

      {% else %}
        <p>フェーズがありません。</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

