{% extends 'app_base.html' %}
{% block title %}プロジェクト作成{% endblock %}
{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/project_create.css' %}">
{% endblock %}

{% block content %}
<div class="project-create">
  <h2>プロジェクト作成</h2>

  <form method="post" action="{% url 'project_create' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="buttons">
      <button type="submit" class="btn-create">作成する</button>
      <a href="{% url 'project_list' %}" class="btn-back">プロジェクト一覧画面へ戻る</a>
    </div>
  </form>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
