{% extends 'app_base.html' %}
{% block title %}プロジェクト一覧{% endblock %}
{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/project_list.css' %}">
{% endblock %}
{% block content %}
<div class="project-list">
  <h2>プロジェクト一覧</h2>

  <div class="project-actions">
    <button type="button" class="join-project-button">プロジェクト参加</button>
    <div class="search-bar">
      <input type="text" placeholder="プロジェクトを検索">
    </div>
    <div class="sort-options">
      <label for="sort-select">プロジェクト並び替え:</label>
      <select id="sort-select">
        <option value="created">作成順</option>
        <option value="updated">更新順</option>
        <option value="name">名前順</option>
        <option value="favorite">お気に入り順</option>
      </select>
    </div>
  </div>
  
  <div class="project-tile create-project-tile">
    <a href="{% url 'project_create' %}">
      <div class="project-info">
        <h3>新規プロジェクト作成</h3>
        <p>新しいプロジェクトを作成します</p>
      </div>
      <div class="create-icon">
        <i class="fas fa-plus-circle"></i>
      </div>
    </a>
  </div>
  {% for project in projects %}
  <div class="project-tile">
    <a href="{% url 'project_detail' project.project.id %}">
      <div class="project-info">
        <h3>{{ project.project.project_name }}</h3>
        <p>進捗: {{ project.progress }}%</p>
        <p>期限: {{ project.dead_line }}</p>
        <p>優先度: {{ project.priority }}</p>
        <p>総工数: {{ project.total_work_hours }}</p>
        <p>責任者: {{ project.responsible }}</p>
        {% if project.project_kind %}
        <p>種類: {{ project.project_kind }}</p>
        {% endif %}
      </div>
    </a>
    <!-- 削除ボタンとアラートを追加 -->
    <div class="delete-project">
      <button class="button delete-button" data-project-id="{{ project.project.id }}">削除</button>
    </div>
  </div>
  {% endfor %}
</div>


<!-- 削除確認アラート用のモーダル -->
<div class="modal fade" id="deleteProjectModal" tabindex="-1" aria-labelledby="deleteProjectModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteProjectModalLabel">プロジェクト削除</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        本当にプロジェクトを削除しますか？
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
        <button type="button" class="btn btn-danger confirm-delete-button">削除する</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% load static %}
<script src="{% static 'js/project_list.js' %}"></script>

{% endblock %}
