{% extends 'app_base.html' %}
{% block title %}プロジェクト検索{% endblock %}
{% block content %}
<div class="project-search-modal">
  <h2>プロジェクト検索</h2>
  <form method="GET" action="{% url 'project_search' %}">
    <input type="text" placeholder="参加IDを入力" name="joined_id" required>
    <button type="submit" class="search-project-button">検索</button>
  </form>
  {% if project %}
  <div class="project-details">
    <h3>{{ project.project_name }}</h3>
    <!-- Display other project details here -->
    <button type="button" class="join-project-button" data-project-id="{{ project.id }}">プロジェクトに参加</button>
  </div>
  {% elif message %}
  <p>{{ message }}</p>
  {% endif %}
</div>
{% endblock %}
{% block scripts %}
{% load static %}
<script src="{% static 'js/project_search.js' %}"></script>

{% endblock %}