{% extends 'project_list_base.html' %}
{% block title %}プロジェクト一覧{% endblock %}
{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/project_list.css' %}">
{% endblock %}

{% block content %}
<div class="container-lg my-3 project-list">
  <div class="project-tile create-project-tile">
    <a href="{% url 'project_create' %}">
      <div class="create-project-info">
        <h3>新規プロジェクト作成</h3>
        <p>新しいプロジェクトを作成します</p>
      </div>
      <div class="create-icon">
        <i class="fas fa-plus-circle"></i>
      </div>
    </a>
  </div>
  {% for project in projects %}
  <div class="project-tile">
    <a href="{% url 'phase_list' project.project.id %}">
      <div class="liquid-container">
        <div class="project-info">
          <h3>{{ project.project.project_name }}</h3>
          <p>進捗: {{ project.progress }}%</p>
          <p>期限: {{ project.project.dead_line|date:"Y/m/d" }}</p>
          <p>責任者: {{ project.responsible }}</p>
          {% if project.project_kind %}
          <p>種類: {{ project.project_kind }}</p>
          {% endif %}
        </div>
        <canvas id="canvas{{ forloop.counter }}" class="liquid-canvas"></canvas>
      </div>
      <div class="favorite-icon">
        {% if project.is_favorite %}
        <i class="fas fa-star " onclick="toggleFavorite('{{ project.project.id }}')"></i>
        {% else %}
        <i class="far fa-star" onclick="toggleFavorite('{{ project.project.id }}')"></i>
        {% endif %}
      </div>
    </a>
  </div>
 {% endfor %}

</div>


<!-- Add this at the end of your file -->
<div class="modal fade" id="projectSearchModal" tabindex="-1" aria-labelledby="projectSearchModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="projectSearchModalLabel">プロジェクト検索</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="GET" action="{% url 'project_search' %}">
          <input type="text" class="form-control" placeholder="参加IDを入力" name="joined_id" required>
          <button type="submit" class="btn btn-success my-3 search-project-button">検索</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% load static %}
<script src="{% static 'js/project_list.js' %}"></script>
<script src="{% static 'js/liquid-anim.js' %}"></script>
{% endblock %}
