{% extends 'app_base.html' %}
{% block title %}プロジェクト参加申請{% endblock %}
{% block content %}
<div class="container mt-5">
  <h2 class="mb-4">プロジェクト参加申請</h2>
  <form method="GET" action="{% url 'project_search' %}" class="mb-3">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="参加IDを入力" name="joined_id" required>
      <button type="submit" class="btn btn-primary">検索</button>
    </div>
  </form>
  {% if project %}
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ project.project_name }}</h5>
      <p class="card-text">{{ project.description }}</p>
      <button type="button" class="btn btn-success join-project-button" data-project-id="{{ project.id }}">プロジェクトに参加</button>
    </div>
  </div>
  {% elif message %}
  <p class="text-danger">{{ message }}</p>
  {% endif %}
</div>
{% endblock %}
{% block scripts %}
{% load static %}
<script src="{% static 'js/project_search.js' %}"></script>
{% endblock %}