{% extends 'unit_base.html' %}
{% block title %}{{ phase.phase_name }}{% endblock %}
{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/unit_list.css' %}">
{% endblock %}

{% block content %}
    <div class="unit-list">
      <div class="unit-title">
        <h2>Units</h2>
        <a href="{% url 'unit_create' project_id=project.id phase_id=phase.id %}" class="add-unit-button">Add New Unit</a>
      </div>
      
      {% for unit in phase.units.all %}
        <div class="unit-tile">
          <h3 class="unit-name">{{ unit.unit_name }}</h3>
          <a href="{% url 'unit_edit' project_id=project.id phase_id=phase.id unit_id=unit.id %}" class="edit-unit-button">Edit Unit</a>
          <table class="task-table">
            <thead>
              <tr>
                <th>Task Name</th>
                <th>Start Day </th>
                <th>Dead line</th>
                <th>assinment member</th>
                <th>Check</th>
              </tr>
            </thead>
            <tbody>
              {%  for task in unit.tasks.all  %}
                {% for user_task in user_tasks %}
                  {% if user_task.task.id == task.id %}
                  <tr class="{% if user_task.task.is_completed_task %}completed-task{% else %}uncompleted-task{% endif %}">
                    <td><a href="{% url 'task_detail' project_id=project.id phase_id=phase.id unit_id=unit.id task_id=task.id %}">{{ task.task_name }}</a></td>
                    <td>{{ task.start_day}}</td>
                    <td>{{ task.dead_line }}</td>
                    <td>{% for email in task.get_assignee_emails %}
                      {{ email }}
                    {% endfor %}</td>                  
                    <td>
                      {% if user_task.is_assigned %}
                        <form method="post" action="{% url 'task_toggle' project_id=project.id phase_id=phase.id unit_id=user_task.task.unit.id task_id=user_task.task.id %}">
                          {% csrf_token %}
                          <button type="submit" name="check-task" class="{% if user_task.is_completed %}completed{% else %}uncompleted{% endif %}">
                            {% if user_task.is_completed %}Completed{% else %}Complete{% endif %}
                          </button>
                        </form>
                      {% endif %}
                    </td>
                  </tr>
                  {% endif %}
                {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <a href="{% url 'task_create' project_id=project.id phase_id=phase.id unit_id=unit.id %}" class="add-task-button">Add New Task</a>
        </div>
      {% endfor %}
    </div> 
  </div>
{% endblock %}
