<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'app_css.html' %}
    {% load static %}
    {% block styles %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% include 'app_header.html' %}
    {% block content %}{% endblock %}
    {% block body %}{% endblock %}
    {% include 'app_footer.html' %}
    {% include 'app_js.html' %}
  </body>
</html>