{% extends 'base.html' %}

{% block title %}フェーズ作成{% endblock %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/phase_create.css' %}">
{% endblock %}

{% block content %}
<div class="phase-create">
  <h2>フェーズ作成</h2>
  <form method="post" action="{% url 'phase_create' project.id %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="phase-name">フェーズ名</label>
      <input type="text" id="phase-name" name="phase_name" required>
    </div>
    <div class="form-group">
      <label for="phase-description">フェーズの説明</label>
      <textarea id="phase-description" name="phase_description" rows="4" required></textarea>
    </div>
  
    <div class="form-group">
      <label for="phase-deadline">フェーズ期限</label>
      <input type="date" id="phase-deadline" name="phase_deadline" required>
    </div>
    <button type="submit" class="btn-create">作成する</button>
  </form>
</div>
{% endblock %}
