{% extends 'unit_base.html' %}
{% block title %}ユニット作成{% endblock %}
{% block styles %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/unit_create.css' %}">
{% endblock %}

{% block content %}
<div class="unit-create">
  <h2>ユニット作成</h2>
  <form method="post" id="unitForm">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn-create">作成する</button>
    <a href="{% url 'unit_list' project_id=project_id phase_id=phase_id %}" class="btn-back">戻る</a>
  </form>
</div>
{% endblock %}
