<nav class="navbar navbar-expand-lg navbar-light bg-light px-5 py-3">
    <div class="container-fluid">
      <div class="d-flex justify-content-between align-items-center">
        <a class="btn btn-outline-secondary btn-lg mx-3" href="{% url 'project_list' %}" role="button" >
          <i class="fa-brands fa-react"></i>
        </a>
        
        <div class="d-flex project align-items-center">
            <a href="{% url 'project_list' %}">
                <h3 class="project-name text-start">{{ phase.phase_name }}</h3>
            </a>
            {% if is_manager %}
            <a href="{% url 'phase_edit' project_id=project.id phase_id=phase.id %}" class="btn btn-outline-secondary edit-btn"><i class="fa-regular fa-pen-to-square"></i></a>
            {% endif %}
            
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="d-flex align-items-center justify-content-end mx-3">
          <a href="{% url 'phase_list' project_id=project.id  %}" class="btn btn-outline-secondary">フェーズ一覧へ戻る</a>
  
          <a href="#" class="btn btn-outline-secondary btn-lg mx-3">
            <i class="fa-regular fa-envelope"></i>
          </a>
          <div class="nav-item dropdown">
            <a class="btn btn-outline-secondary btn-lg mx-3" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-regular fa-user"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">アカウント設定</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/accounts/logout/">ログアウト</a></li>
              <li><a class="dropdown-item" href="#">{{ request.user.email }} </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
  